@import "../../Styles/variables.scss";

.btnSecondary {
  background: transparent;
  border: 1px solid $primaryColor;
  border-radius: 20px;
  text-align: center;
  font-family: $Es-medium;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 13px;
  color: $primaryColor;
  &:hover {
    color: black;
    border: 1px solid black;
    transition: 0.5s;
  }
}
