@font-face {
  font-family: ABC Whyte;
  src: url(../Assets/fonts/ABCWhyte-Black.woff);
  src: url(../Assets/fonts/ABCWhyte-Book.woff);
  src: url(../Assets/fonts/ABCWhyte-Regular.woff);

  font-family: ES Rebond Grotesque;
  src: url(../Assets/fonts/ESRebondGrotesque-Regular.woff);
  src: url(../Assets/fonts/ESRebondGrotesque-Bold.woff);
  src: url(../Assets/fonts/ESRebondGrotesque-Medium.woff);
}

// fonts
$Abc: ABC Whyte;
$Es: ES Rebond Grotesque;
$Euclid: Euclid Circular A;

//colors
$primaryColor: #005fda;
$secondaryColor: #8388ab;

//mediaQuery
$LaptopL: "only screen and (max-width : 1366px)";
$Laptop: "only screen and (max-width : 1199px)";
$Ipad: "only screen and (max-width : 1024px)";
$IpadS: "only screen and (max-width: 991px)";
$PhoneL: "only screen and (max-width: 768px)";
$PhoneS: "only screen and (max-width: 575px)";
