@import "../../Styles/variables.scss";

.toastMsg {
  width: 100%;
  background-color: #cbe9d9;
  padding: 20px 0 20px 0;
  margin-bottom: 35px;
  border-radius: 4px;
  .msg {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    span {
      font-family: $Abc-black;
    }
  }
}
