@import "../../Styles/variables.scss";
.cardWrapper {
  padding: 0 0 28px 0;
}
.balance {
  width: 100%;
  .customCard {
    padding: 40px 40px 33px 40px;
    .cardHeader {
      margin: 0 0 12px 0;
      .cardHeading {
        color: #1d1d1b;
      }
    }
    .cardBody {
      padding: 0 0 20px 0;
      margin: 0 0 24px 0;
      border-bottom: 0.5px solid #cdcdce;
      .pricing {
        margin: 0 0 16px 0;

        span {
          color: #00c39e;
        }
      }
      .aging {
        font-size: 15px;
        line-height: 22px;
      }
    }
    .cardFooter {
      .btnPrimary {
        padding: 5px 17px;
        margin: 0 13px 0 0;
      }
      .btnSecondary {
        padding: 5px 24px;
      }
    }
  }
}
.payments {
  width: 100%;
  .customCard {
    padding: 23px 0 23px 35px;
    .cardBody {
      .pricing {
        font-size: 25px;
        line-height: 35px;
      }
      .aging {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .receive {
    margin: 0 0 22px 0;
  }
}
.notificationWrapper {
  .customCard {
    padding: 30px 40px;
    .cardHeader {
      padding: 0 0 20px 0;
    }
    .cardBody {
      display: flex;
      align-items: center;
      margin: 0 0 20px 0;
      div {
        margin: 0 40px 0 0;
        img {
          width: 31px;
          height: 30px;
        }
      }
      span {
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #979797;
      }
    }
  }
}
