@import "../../Styles/variables.scss";

.headerWrapper {
  padding: 25px 0 14px 0;
  border-bottom: 0.5px solid #dbdbdb;
  margin: 0 0 42px 0;
  .row {
    align-items: center;
  }
}

.navBar {
  display: flex;
  align-items: center;
  .navLink {
    font-family: $Es;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1d191f;
    display: flex;
    align-items: center;
    svg {
      margin: 0 8px 0 0;
    }
  }
  .home {
    margin: 0 42px 0 0;
  }
}

.navBtn {
  display: flex;
  align-items: center;
  .profileDrpDown {
    margin: 0 36px 0 10px;
    .profileBtn {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: yellow;
      border: none;
      margin: 6px;
      border: 1px solid #cdcdce;
    }
  }
  .btnPrimary {
    padding: 5px 18px 6px 18px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
.navRight {
  .row {
    align-items: center;
  }
}
